In [2]:
import pandas as pd

data = pd.read_csv("sykkel.csv")
data = data[["started_at","start_station_name"]]
data.head()

                         started_at        start_station_name
0  2022-05-01 00:55:46.521000+00:00                Elisenberg
1  2022-05-01 03:00:17.214000+00:00              Schous plass
2  2022-05-01 03:02:31.181000+00:00  Schous plass trikkestopp
3  2022-05-01 03:04:18.252000+00:00             Hallings gate
4  2022-05-01 03:05:39.936000+00:00           Studenterlunden